@charset "UTF-8";

/*--------------------------------------------------------
  共通レイアウトパーツ設定
--------------------------------------------------------*/
/* ヘッダー内パーツ */
#hpb-headerMain{
    margin: 0;
}

#hpb-headerMain h1{
    margin: 0;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
    text-align: left;
    font-weight: normal;
    line-height: 12px;
    font-size: 11px;
    color: #8f6439;
}

#hpb-headerLogo{
    width: 120px;
    float: left;
    padding: 20px 10px;
}

#hpb-headerLogo a{
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    overflow: hidden;
}

.hpb-headerTitle {
    width: 300px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    float: left;
    text-align: left;
}

.hpb-headerTitle .hpb-headerSubTitle{ 
    font-size: 1.5em;
    font-weight: bold;
}

.hpb-headerTitle h1{
    margin: 10px;
    font-family: "Nikukyu",'メイリオ' ,Meiryo, 'ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro' , 'ＭＳ Ｐゴシック' , 'Osaka' ,sans-serif;
    font-size: 4em;
}

#hpb-headerContact{
    width: 300px;
    padding: 0.2em 0.5em;
    margin: 2em 2em;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
    float: right;
}

#hpb-headerContact p{
    margin: 0;
    padding: 0;
}

#hpb-headerContact .header-sub-contact{
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0.2em 0;
}

#hpb-headerContact .header-sub-tel{
    display: block;
    font-size: 1.5em;
    padding-left: 40px;
    background-image : url(http://localhost/casa_feliz/images/tel.png);
    background-position: left;
    background-repeat: no-repeat;
}

#hpb-headerContact .header-sub-address{
    display: block;
    font-size: 1.5em;
    padding-left: 40px;
    background-image : url(http://localhost/casa_feliz/images/address.png);
    background-position: left;
    background-repeat: no-repeat;
}

/* フッター内パーツ */
#hpb-footerMain
{
}

#hpb-footerMain p{
    /* コピーライト文字設定 */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 0.9em;
    text-align: center;
}

#hpb-footerLogo
{
}

#hpb-footerExtra1
{
}

#hpb-footerExtra2
{
}

/* サイドブロック内パーツ */

/* バナー */
#banner{
    width: 205px;
    margin-left: auto;
}

#banner ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#banner li{
    display: block;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#banner li a{
    display: block;
    height: 31px;
    text-indent: -9999px;
    overflow: hidden;
}

#banner a#banner-access{
    /* アクセスバナー */
    background-image : url(http://localhost/casa_feliz/images/top_banner_10D_01.png);
    background-position: center center;
    background-repeat: no-repeat;
}


/* 店舗情報 */
#shopinfo{
    background-image : url(http://localhost/casa_feliz/images/shopInfoBg_10D_bottom.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 8px;
}

#shopinfo h3{
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;
    color: #fc9d16;
    font-weight: normal;
    background-image : url(http://localhost/casa_feliz/images/shopinfoTitle_10D.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-left: 20px;
    padding-top: 35px;
}

#shopinfo h3 span.en{
    text-transform: capitalize;
    font-size: 1.0em;
}

#shopinfo h4{
    margin-left: 11px;
    margin-right: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 0.95em;
    padding-top: 10px;
    color: #000000;
    font-weight: normal;
    background-image : url(http://localhost/casa_feliz/images/shopinfoBg_10D.png);
    background-repeat: repeat-y;
    background-position: right center;
    padding-left: 20px;
    padding-right: 20px;
}

#shopinfo p{
    color: #000000;
    margin-top: 0;
    margin-left: 11px;
    margin-right: 0;
    margin-bottom: 0;
    line-height: 1.5;
    background-image : url(http://localhost/casa_feliz/images/shopinfoBg_10D.png);
    background-repeat: repeat-y;
    background-position: right center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

/*--------------------------------------------------------
  ナビゲーションデザイン設定
--------------------------------------------------------*/

#hpb-nav li a
{
    /* ナビゲーション文字設定 */
}


/*--------------------------------------------------------
  基本パーツデザイン設定
--------------------------------------------------------*/

/* リンク文字色 */
a:link{
    color: #e69100;
    text-decoration: underline;
}
a:visited{
    color: #e69100;
    text-decoration: underline;
}
a:hover{
    color: #F39700;
    text-decoration: none;
}
a:active{
    color: #F39700;
    text-decoration: none;
}

#hpb-skip{
    /* ヘッダースキップの非表示 */
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
}

p{
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding-right: 1em;
    padding-left: 1em;
    line-height: 1.4;
    text-align: left;
}

p.large{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.4em;
}
p.indent{
    padding-left: 15px;
}

.left{
    float: left;
}
.right{
    float: right;
}

hr{
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    clear: both;
    border-top-width: 1px;
    border-top-style: none;
    border-right-width: 1px;
    border-right-style: none;
    border-left-width: 1px;
    border-left-style: none;
    color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: none;
}

.hpb-layoutset-02 h2{
    background-image : url(http://localhost/casa_feliz/images/titleBg_10D.png);
    background-position: top left;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 0;
    height: 76px;
    text-align: left;
    overflow: hidden;
    line-height: 80px;
}

.hpb-layoutset-02 h2 span.ja{
    font-size: 1.2em;
    color: #ff3a3a;
    padding-left: 50px;
    padding-right: 15px;
    font-weight: normal;
}

.hpb-layoutset-02 h2 span.en{
    color: #FFAD33;
    font-size: 0.9em;
    font-weight: normal;
    text-transform: uppercase;
}

#hpb-wrapper h3{
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 40px;
    text-align: left;
    background-image : url(http://localhost/casa_feliz/images/indexBg_10D.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    color: #FD7700;
    font-size: 1.5em;
    font-weight: normal;
    text-align: left;
}

h3.hpb-c-index{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
    background: none;
}

h4{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 2px;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.2;
    font-weight: bold;
    color: #FF3B3B;
}

h5{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: bold;
}

table{
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-collapse: collapse;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCA540;
}

table th{
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    text-align: left;
    background-color: #FDF5BC;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCA540;
}

table td{
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    text-align: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCA540;
}

/* フォームパーツ設定 */
input.button{
    margin-top: 10px;
    margin-bottom: 15px;
}

textarea{
    width: 380px;
    height: 200px;
}

input.l{
    width: 380px;
}
input.m{
    width: 250px;
}
input.s{
    width: 50px;
}


/* メインコンテンツ内基本パーツ */

#hpb-main ul{
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#hpb-main ul li{
    text-align: left;
    line-height: 1.4;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 2px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #f7ba05;
}

#hpb-main dl{
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

#hpb-main dt{
    float: left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
    line-height: 19px;
    min-height: 19px;
    font-weight: bold;
    width: 170px !important;
    padding-top: 9px;
    padding-right: 0;
    padding-bottom: 7px;
    padding-left: 2px;
    color: #FD7700;
    font-weight: bold;
}

#hpb-main dd{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 9px;
    padding-right: 0;
    padding-bottom: 7px;
    text-align: left;
    line-height: 19px;
    min-height: 19px;
    padding-left: 172px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #f7ba05;
}

*:first-child + html #hpb-main dd{
    /* for IE7 */
    padding-left: 10px;
    min-height: 20px;
}

* html #hpb-main dd{
    /* for IE6 */
    height: 20px;
    padding-left: 0px;
}

#hpb-main dl::after{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-main img{
    margin-top: 5px;
    margin-bottom: 10px;
}

#hpb-main img.left{
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

#hpb-main img.right{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: right;
}

#pagetop{
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

#pagetop a{
    /* ページの先頭へのリンク設定 */
    display: block;
    width: 151px;
    height: 30px;
    background-image : url(iamges/returnTop_10D.png);
    background-position: center left;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}


/* トップページ デザイン定義 */
#hpb-wrapper #toppage-news{
    width: 580px;
    margin-right: auto;
    padding-bottom: 8px;
    background-image : url(http://localhost/casa_feliz/images/toppageNewsBg_10D_01.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
#hpb-wrapper #toppage-news h3{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 16px;
    padding-bottom: 0;
    padding-left: 45px;
    padding-top: 20px;
    font-size: 1.2em;
    background-image : url(http://localhost/casa_feliz/images/topIndexBg_10D_01.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

#hpb-wrapper #toppage-news h3 span.en{
    padding-right: 15px;
    padding-left: 0px;
    text-transform: capitalize;
    background-color: #ffffff;
    font-size: 1.5em;
}

#hpb-wrapper #toppage-news h3 span.ja{
    padding-right: 10px;
    padding-left: 5px;
    background-color: #ffffff;
}
#hpb-wrapper #toppage-news dl dt{
    background-image : url(http://localhost/casa_feliz/images/point_10D.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
    color: #333333;
    font-weight: normal;
    width: 120px !important;
}
#hpb-wrapper #toppage-news dl dd{
    padding-left: 125px;
}


/* =======================================================
  レスポンシブル設定
======================================================= */
@media screen and (max-width: 568px) {

	/*--------------------------------------------------------
	  共通レイアウトパーツ設定
	--------------------------------------------------------*/
	/* ヘッダー内パーツ */
	#hpb-headerMain h1{
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 5px;
		line-height: 1.4;
	}
	#hpb-headerLogo{
		width: 98%;
		float: none;
		margin-left: auto;
		margin-right: auto;
		background-position: top center;
		background-size: contain;
		padding-top: 12px;
		padding-bottom: 15px;
	}
	#hpb-headerLogo a{
		max-width: 100%;
		background-position: top center;
		margin-left: auto;
		margin-right: auto;
	}
	#hpb-headerContact{
		width: 98%;
		margin-left: auto;
		margin-right: auto;
		float: none;
		letter-spacing: 0.1em;
		text-align: right;
	}
	#hpb-headerContact p.tel{
		padding-right: 5px;
		padding-left: 35px;
		text-align: left;
		display: inline-block;
	}
	#hpb-headerContact p.tel span{
		display: block;
	}
	#hpb-headerContact p.address{
		padding-left: 10px;
		padding-right: 5px;
	}

	/* フッター内パーツ */
	
	#hpb-footerMain p{
		/* コピーライト文字設定 */
		padding-left: 5px;
		padding-right: 5px;
		word-break: break-all;
	}
	
	/* サイドブロック内パーツ */
	
	/* バナー */
	#banner{
		margin-right: auto;
		max-width: 100%;
	}
	#banner li{
		max-width: 100%;
	}
	#banner a#banner-access{
    /* アクセスバナー */
		background-position: top center;
		background-size: contain;
	}
	
	/* 店舗情報 */
	#shopinfo{
		margin-left: auto;
		margin-right: auto;
		background-position: 11px bottom;
	}

	/*--------------------------------------------------------
	  ナビゲーションデザイン設定
	--------------------------------------------------------*/
	#hpb-nav h3.hpb-c-index{
		width: 27px;
		height: 20px;
		background-image : url(http://localhost/casa_feliz/images/btn_menu.png);
		background-position: top left;
		background-repeat: no-repeat;
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		overflow: hidden;
		text-indent: -9999px;
		cursor: pointer;
	}

	/*--------------------------------------------------------
	  基本パーツデザイン設定
	--------------------------------------------------------*/
	p{
		padding-left: 0;
		padding-right: 0;
	}
	.hpb-layoutset-02 h2{
		min-height: 73px;
		line-height: 1.4;
		height: auto;
		word-break: break-all;
		overflow: visible;
	}
	.hpb-layoutset-02 h2 span.ja{
		display:block;
		padding-top: 12px;
		padding-right: 10px;
	}
	.hpb-layoutset-02 h2 span.en{
		display:block;
		padding-left: 55px;
		padding-right: 10px;
	}
	h4{
		padding-right: 2px;
	}

	h5{
		padding-right: 5px;
	}
	table{
		width: 96%;
		margin-left: auto;
		margin-right: auto;
	}

	/* フォームパーツ設定 */
	textarea{
		width: 96%;
	}

	input.l{
		width: 96%;
	}
	input.m{
		width: 60%;
	}
	input.s{
		width: 30%;
	}

	/* メインコンテンツ内基本パーツ */
	#hpb-main ul li{
		padding-left: 0px;
	}
	#hpb-main dl{
		margin-left: 0;
		margin-right: 0;
	}
	#hpb-main dt{
		float: none;
		padding-bottom: 0px;
		padding-left: 0px;
		max-width: 100%;
	}
	#hpb-main dd{
		padding-left: 0px;
	}
	#hpb-main img.left{
		margin-right: 0;
		float: none;
	}
	#hpb-main img.right{
		margin-left: 0;
		float: none;
	}
	#pagetop{
		padding-left: 0px;
		padding-right: 0px;
	}

	/* トップページ デザイン定義 */
	#hpb-wrapper #toppage-news{
		width: 100%;
	}
	#hpb-wrapper #toppage-news dl dt{
		background-position: left 14px;
		width: auto !important;
		padding-right: 5px;
	}
	#hpb-wrapper #toppage-news dl dd{
		padding-left: 15px;
		padding-right: 5px;
		padding-top: 0;
	}


}
